@charset "UTF-8";
/* Import Local Scss Files */
/* Font Family */
/* Setting Variables : Text Color */
/* Setting Variables : Object Color */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

li {
  list-style: none;
}

/* Font Icon : Bootstrap Icons */
/* Google Web Fonts */
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: normal;
  font-style: normal;
}
/* esponsive for Mobile */
@media (max-width: 767px) {
  /* #########Common CSS########### */
  section:not(.front-slider) {
    padding: 35px 10px;
  }
  [class*=inner] {
    width: 100% !important;
  }
  /* Header */
  header .header-inner {
    padding: 0 10px;
  }
  header .header-inner .logo-search .logo img {
    width: 150px;
  }
  header .header-inner .logo-search .search {
    display: none;
  }
  header .header-inner .logo-search .login-register-buttons button {
    font-size: 12px;
    padding: 5px;
  }
  header .header-inner .gnb .trigger span {
    display: none;
  }
  header .header-inner .gnb .trigger::before {
    background: url("/images/icon-category-search.png");
  }
  header .header-inner .gnb .special-navi {
    white-space: nowrap;
    overflow-y: hidden;
  }
  header .header-inner .gnb a:first-child::after {
    display: none;
  }
  header .mega-navi {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    padding-top: 60px;
  }
  header .mega-navi .search-mobile {
    display: block;
    width: 250px;
    margin: 10px auto;
  }
  header .mega-navi .mega-navi-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item:last-child b {
    border: none;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item b {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    padding: 5px 15px;
    color: #BDBDBD;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item b::after {
    content: "\f4fe";
    font-family: "bootstrap-icons";
    float: right;
    font-size: 17px;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item b.active {
    color: #ffffff;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item b.active::after {
    content: "\f2ea";
    color: #ffffff;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item .mega-navi-item-wrap {
    display: none;
    padding: 10px 15px;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item .mega-navi-item-wrap a {
    font-weight: 300;
  }
  header .mega-navi .btn-mega-navi-close {
    display: block;
    position: absolute;
    border: none;
    background-color: transparent;
    color: #ffffff;
    top: 15px;
    left: 15px;
    font-size: 2em;
  }
  /* section : Front Slider */
  /* section : Category Shortcut */
  .category-shortcut .category-shortcut-inner .category-shortcut-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .category-shortcut .category-shortcut-inner .category-shortcut-items .category-shortcut-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: auto;
  }
  .category-shortcut .category-shortcut-inner .category-shortcut-items .category-shortcut-item span {
    font-size: 14px;
    text-align: center;
  }
  /* section : Focus Class  */
  /* section : Best Class */
  /* section : Timer */
  /* section : blog */
  .blog .blog-inner .blog-content .blog-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog .blog-inner .blog-content .blog-items .blog-item {
    margin-bottom: 10px;
  }
  /* section : Slogan*/
  /* section : tip-tech */
  /* footer */
  footer {
    padding: 30px 0;
  }
  footer .footer-inner {
    padding: 0 20px;
  }
  footer .footer-inner .lnb-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    gap: 50px;
  }
  footer .footer-inner .lnb-wrap .footer-slogan {
    text-align: center;
    font-size: 1.3em;
    color: #ffffff;
  }
  footer .footer-inner .lnb-wrap .lnb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-inner .lnb-wrap .lnb .link-item .link-item-title {
    padding: 10px 0;
    border-bottom: 1px solid #777777;
    pointer-events: all;
  }
  footer .footer-inner .lnb-wrap .lnb .link-item .link-item-title::after {
    content: "▽";
    font-family: "Noto Sans KR", sans-serif;
    float: right;
  }
  footer .footer-inner .lnb-wrap .lnb .link-item .link-item-title.active::after {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  footer .footer-inner .lnb-wrap .lnb .link-item .link-item-content {
    padding: 5px 0;
    display: none;
  }
  footer .footer-inner .lnb-wrap .lnb .link-item .link-item-content a {
    padding: 3px 0;
  }
  footer .footer-inner .copyright-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 10px;
  }
  footer .footer-inner .copyright-wrap .company-info-trigger {
    display: block;
    color: #ffffff;
    font-weight: 400;
  }
  footer .footer-inner .copyright-wrap address {
    display: none;
  }
  footer .footer-inner .copyright-wrap .sns {
    margin-top: 10px;
  }
  /* ########Category Main : category-main.html ###### */
  .category-class .category-class-inner .category-class-wrap {
    overflow-x: hidden;
  }
  .category-class .category-class-inner .category-class-detail .category-shortcut-btn-group .btn-shortcut {
    font-size: 12px;
  }
  /* ######## Class Detail : class-detail.html ######## */
  /* class-detail-image */
  .class-detail-image .class-detail-image-inner {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px;
  }
  .class-detail-image .class-detail-image-inner .heading {
    text-align: center;
  }
  .class-detail-image .class-detail-image-inner .heading h2 {
    font-size: 20px;
  }
  .class-detail-image .class-detail-image-inner .heading p {
    font-size: 16px;
  }
  .class-detail-image .class-detail-image-inner .cover-image img {
    margin-top: 30px;
    height: 80%;
    width: 100%;
  }
  .class-detail-full {
    padding: 0 !important;
  }
  .class-detail-full .class-detail-full-inner .class-detail-full-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .class-detail-full .class-detail-full-inner .class-detail-full-content > div {
    background-color: #ffffff;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px;
  }
  .class-detail-full .class-detail-full-inner .class-detail-full-content .class-detail-info .class-detail-navigation {
    overflow-y: hidden;
    gap: 10px;
  }
  .class-detail-full .class-detail-full-inner .class-detail-full-content .class-detail-info .class-detail-navigation a {
    font-size: 14px;
    white-space: nowrap;
  }
  .class-detail-full .class-detail-full-inner .class-detail-full-content .class-detail-info .class-introduce * img {
    width: 90%;
  }
  .class-detail-full .class-detail-full-inner .class-detail-full-content .class-detail-sidebar {
    position: static;
  }
}