/* Import Local Scss Files */
@import "variables", "reset", "fonts";
/* esponsive for Mobile */
@media (max-width:767px){
  /* #########Common CSS########### */
  section:not(.front-slider){padding: 35px 10px;}
  [class*=inner]{width: 100% !important;}
  /* Header */
  header{
    .header-inner{
      padding: 0 10px;
      .logo-search{
        .logo{
          img{
            width: 150px;
          }
        }
        .search{display: none;}
        .login-register-buttons{
          button{
            font-size: 12px;padding: 5px;
          }
        }
      }
      .gnb{
        .trigger{
          span{display: none;}
          &::before{
            background: url('/images/icon-category-search.png');
          }
        }
        .special-navi{
          white-space: nowrap;
          overflow-y: hidden;
        }
        a{
          &:first-child::after{
            display: none;
          }
        }
      }
    }
    .mega-navi{
      display: block;
      position: fixed;
      top: 0;
      left: -300px;
      width: 300px;
      height: 100vh;
      padding-top: 60px;
      .search-mobile{
        display: block;
        width: 250px;
        margin: 10px auto;
      }
      .mega-navi-inner{
        flex-direction: column;
        .mega-navi-item{
          &:last-child b{
            border: none;
          }
          b{
            border-bottom: 1px solid $dim-gray;
            display: block;
            padding: 5px 15px;
            color: $dark-gray;
            &::after{
              content:'\F4FE';
              font-family: 'bootstrap-icons';
              float: right;
              font-size: 17px;
            }
            &.active{color: $white;}
            &.active::after{
              content: "\f2ea";
              color: $white;
            }
          }
          .mega-navi-item-wrap{
            display: none;
            padding: 10px 15px;
            a{
              font-weight: 300;
            }
          }
        }
      }
      .btn-mega-navi-close{
        display: block;
        position: absolute;
        border:none;
        background-color: transparent;
        color: $white;
        top: 15px;
        left: 15px; font-size: 2em;
      }
    }
  }
  /* section : Front Slider */
  /* section : Category Shortcut */
  .category-shortcut{
    .category-shortcut-inner{
      .category-shortcut-items{
        flex-wrap: wrap;
        .category-shortcut-item{
          flex-basis: 25%;
          box-shadow: none;
          height: auto;
          span{
            font-size: 14px;
            text-align: center;
          }
        }
      }
    }
  }
  /* section : Focus Class  */
  /* section : Best Class */
  /* section : Timer */
  /* section : blog */
  .blog{
    .blog-inner{
      .blog-content{
        .blog-items{
          flex-direction: column;
          .blog-item{
            margin-bottom: 10px;
          }
        }
      }
    }
  }
  /* section : Slogan*/
  /* section : tip-tech */
  /* footer */
  footer{
    padding: 30px 0;
    .footer-inner{
      padding: 0 20px;
      .lnb-wrap{
        flex-direction: column;
        border: none;
        gap: 50px;
        .footer-slogan{
          text-align: center;
          font-size: 1.3em;
          color: $white;
        }
        .lnb{
          flex-direction: column;
          .link-item{
            .link-item-title{
              padding: 10px 0;
              border-bottom: 1px solid $silver-black;
              pointer-events: all;
              &::after{
                content: '▽';
                font-family: $primary-kr;
                float: right;
              }
              &.active::after{
                transform: rotateX(180deg);
              }
            }
            .link-item-content{
              padding: 5px 0;
              display: none;
              a{
                padding: 3px 0;
              }
            }
          }
        }
      }
      .copyright-wrap{
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        .company-info-trigger{
          display: block;
          color: $white;
          font-weight: 400;
        }
        address{
          display: none;
        }
        .sns{
          margin-top: 10px;
        }
      }
    }
  }
  
/* ########Category Main : category-main.html ###### */
.category-class{
  .category-class-inner{
    .category-class-wrap{
      overflow-x: hidden;
    }
    .category-class-detail{
      .category-shortcut-btn-group{
        .btn-shortcut{
          font-size: 12px;
          
        }
      }
    }

  }
}
  /* ######## Class Detail : class-detail.html ######## */
  /* class-detail-image */
  .class-detail-image{
    .class-detail-image-inner{
      height: auto;
      flex-direction: column;
      padding:30px;
      .heading{
        text-align: center;
        h2{font-size: 20px;}
        p{font-size: 16px;}
      }
      .cover-image{
        img{
          margin-top: 30px;
          height: 80%;
          width: 100%;
        }
      }
    }
  }
  .class-detail-full{
    padding: 0 !important;
    .class-detail-full-inner{
      .class-detail-full-content{
        flex-direction: column-reverse;
        >div{
          background-color: $white;
          border-radius: 0;
          box-shadow: none;
          padding: 10px;
        }
        .class-detail-info{
          .class-detail-navigation{
            overflow-y: hidden;
            gap: 10px;
            a{
              font-size: 14px;
              white-space: nowrap;
            }
          }
          .class-introduce{
            * img{
              width: 90%;
            }
          }
        }
        .class-detail-sidebar{
          position: static;
        }
      }
    }
  }
}